form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
}           

.label {
    width: 200px;
    font-family: arial, sans-serif;
}

.input {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
}

.adv-input {
    width: 296px;
    padding: 0;
}

.adv-body {
    margin: 0;
}

.top {
    font-size: 18px;
    font-family: arial, sans-serif;
    height: 30px;
    margin: 0;
}

.button {
    background-color: #4D90FE;
    padding: 0px 12px;
    border: 1px solid #3079ed;
    color: white;
}

.desc {
    margin: 10px;
    color: #d93025;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.border {
    border-bottom: 1px solid #ebebeb;
}

.nav, .adv-nav {
    overflow: hidden;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.adv-nav {
    background-color: #f1f1f1;
}

.nav-right {
    float: right;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 5px;
    vertical-align: middle;
}

.nav a:hover, .adv-nav a:hover {
    text-decoration: underline;
}

.form-border {
    margin: 40px 0 2% 45px;
}

.desc-border {
    margin: 25px 35px;
}

.main {
    text-align: center;
}

.big-button{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 482px !important;
    margin: 10px;
}

.main-button {
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

.main-image {
    height: 233px;
    margin-top: 89px;
}