{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'categories' %}" method="POST">
    {% csrf_token %}
    <select name="category">
            <option value="None">None</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}    
    </select>
    <input type="submit" value="Pick a Category">
</form>

<h2>Listings</h2>

<ul>
    {% for listing in listings %}
        <li>{{ listing.name }}</li>
    {% empty %}
        There are no listings in this category
    {% endfor %}
</ul>

{% endblock %}