{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'categories' %}" method="POST">
    {% csrf_token %}
    <select name="category">
            <option value="None">None</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}    
    </select>
    <input type="submit" value="Pick a Category">
</form>

<h2>Listings</h2>

<ul class="listing-outer">
    {% for listing in listings %}
        <li>
            <ul class="listing-inner">
                <div>
                    <img src="{{ listing.image }}" alt="Picture of Listing">
                </div>
                <div>
                    <h2><a class="link" href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h2>
                    <li>${{ listing.price }}</li>
                    <li>{{ listing.description }}</li>
                    <li>Posted by: {{ listing.owner }}</li>
                </div>
            </ul>
        </li>   
        
    {% empty %}
        There are no listings in this category
    {% endfor %}
    </ul>

{% endblock %}