{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{ listing.name }}</h1>
<div>
    {{ listing.description}}
</div>
<div>
    <h2>{{ listing.price }}</h2>
</div>
<div>
    {{ listing.bids }} bid(s) so far.

    {% if user.is_authenticated %}    
        {% if listing.owner.id == user.id %}
            This is your listing.
        {% elif listing.buyer.id == user.id %}
            You have the highest bid.
        {% else %}
            {% if listing.bids == 0 %}
                Be the first to bid on this item!
            {% else %}
                Someone else is winning this auction!
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% if user.is_authenticated %}
    <div>
        {% if listing.owner.id != user.id %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="bid" placeholder="bid" min="{{ listing.price }}" step="0.01">
                <input type="submit" value="Place Bid">
            </form>
            <form action="{% url 'watch_add' user.username listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add to Wish List">
            </form>
        {% else %}
            <form action="{% url 'close' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Close Auction">
            </form>
        {% endif %}
    </div>
{% endif %}

<div>
    <h2>Details</h2>
</div>
<div>
    Listed by: {{ listing.owner }}
</div>
<div>
    {% if listing.category != 'None' %}
        Category: {{listing.category}}
    {% else %}
        No category listed
    {% endif %}
</div>
<div>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.comment }}</li>

        {% empty %}
            Be the first to add a comment
    
        {% endfor %}
    </ul>
</div>
<div>
    <form action="{% url 'comment' listing.id %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" rows="4" cols="50">Add comment</textarea>
        <input type="submit" value="Add Comment">
    </form>
</div>


{% endblock %}